.footer {
  &__main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    &__part {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }

  &__add {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
